{% extends pagelayout %}

{% block title %}
    {{ 'betting_game.register'|trans }}
{% endblock %}

{% block content %}
    <div class="betting-game betting-game-register">
        <h1>{{ 'betting_game.register'|trans }}</h1>
        <p>Du hast dich erfolgreich zum Tippspiel angemeldet.</p>
        <p>Dein Tippspiel wird jedoch erst aktiv, wenn du deine Einsatz bezahlst.</p>
    </div>
{% endblock %}