<li{% if active %} class="active"{% endif %}>
    <a href="{{ path('betting_game_admin_leagues') }}">
        <img src="{{ asset('bundles/bettinggame/admin/images/betting-game-logo-silhouette.svg') }}" class="icon" />
        <span class="tt">{{ 'betting_game.title'|trans }}</span>
    </a>
</li>
